body,
html {
  background-color: #f8f9f9;
  height: 100%;
}

h3,
h4 {
  font-family: "Merriweather", serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header {
  padding-top: 50px;
  padding-bottom: 50px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.site-title {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 980px) {
  .site-title {
    font-size: 2rem;
  }
}

.product-img {
  width: 265px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.item-title {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Merriweather", serif;
  min-height: 70px;
}

@media (max-width: 980px) {
  .item-title {
    font-size: 1.2rem;
    min-height: auto;
  }
}

.details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.items {
  font-family: "Merriweather", serif;
  background: #f2ede7;
  border-radius: 8px;
  width: 120px;
  display: flex;
  font-size: 18px;
  height: 30px;
  overflow: hidden;
}

.items__control {
  width: 40px;
  cursor: pointer;
  transition: 0.2s ease-in;
  text-align: center;
}

.items__control:hover {
  background: #eb5a1e;
  color: #fff;
}

.items__current {
  width: 40px;
}

/* items--small */
.items.items--small {
  width: 90px;
  font-size: 16px;
  height: 26px;
  text-align: center;
}

.items.items--small .items__control {
  width: 30px;
}

.items.items--small .items__current {
  width: 30px;
}

.price {
  text-align: left;
}

.price__weight {
  color: #6c757d !important;
  font-size: 80%;
  line-height: 1;
}

.price__currency {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.btn-primary{
  margin-top: 15px;
}

.btn-outline-warning {
  color: #eb5a1e;
  border-color: #eb5a1e;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: #eb5a1e;
  border-color: #eb5a1e;
}

.cart-item__top {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 15px;
}

.cart-item__img img {
  max-width: 100px;
  height: auto;
}

.cart-item__desc {
  padding-top: 15px;
  padding-left: 15px;
  max-width: 208px;
}

.cart-item__title {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 5px;
}

.cart-item__weight {
  color: #6c757d !important;
  font-size: 80%;
  line-height: 1;
  margin-bottom: 15px;
}

.cart-item__details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart-item__details .price__currency {
  font-size: 18px;
  margin-left: 15px;
}

.cart-total {
  font-size: 18px;
  font-weight: 500;
}

.free {
  color: #0ea107;
}

.total-price {
  color: #eb5a1e;
}

.rouble {
  color: #eb5a1e;
}

.none {
  display: none;
}
